<div class="navbar">
  <div class="container">
    <center id="welcome" class="lead">Review Monster</center>
    <ul layout=row layout-align="space-around center" ng-controller="UserController as uc">
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Profile</a></li>
      <li><a href="#/addRev">Add a review</a></li>
      <li><a href="#/review">view a review</a></li>
      <li><a href="#/search">search</a></li>
      <li><a href="#/game">view game</a></li>
      <md-button class="md-raised md-warn" ng-click="uc.userService.logout()">Log Out</md-button>
    </ul>
  </div>
</div>
