<div class="container">
  <h1 class="lead">Register User</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
    <div>
        <label for="username">Username:</label>
        <input type="text" ng-model="lc.user.username" />
    </div>
    <div>
    <div>
        <label for="password">Password:</label>
        <input type="passwordtest2" ng-model="lc.user.password" />
    </div>
    <div>
        <label for="real_name">Real Name:</label>
        <input type="text" ng-model="lc.user.real_name" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" ng-model="lc.user.email" />
    </div>
    <div>
        <label for="bio">Bio:</label>
        <input type="text" ng-model="lc.user.bio" />
    </div>
    <div>
        <label for="text1">Writen Review:</label>
        <input type="text" ng-model="lc.user.text1" />
    </div>
    <div>
        <label for="vid1">Video Link:</label>
        <input type="text" ng-model="lc.user.vid1" />
    </div>
    <div>
        <label for="text2">Writen Review:</label>
        <input type="text" ng-model="lc.user.text2" />
    </div>
    <div>
        <label for="vid2">Video Link:</label>
        <input type="text" ng-model="lc.user.vid2" />
    </div>
    <input class="btn btn-default" type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </form>

</div>
