<br>
<div ng-include="'views/partials/nav.html'"></div>
<br>

<div id="revContainer" layout="column" layout-align="center center" ng-repeat="review in rc.revToSee.data.data.data">

        <br>
        <br></br>
        <h1>{{review.title}}</h1>
        <br></br>
        <h2>{{review.game}}</h2>
        <br></br>
        <div ng-bind-html="rc.trustHtml(review.text)"></div>
        <br></br>
        <ng-youtube-embed video="review.link" autoplay="false" color="white" disablekb="true" end="20" width="900px" height="500px">
        </ng-youtube-embed>
        <br></br>

<br></br>
<div layout=row layout-align="center center">
    <md-button ng-click=EditReview class="md-raised md-warn">Edit This review</md-button>
    <md-button ng-click=EditReview class="md-accent md-raised md-hue-3">Delete This Review</md-button>
</div>
<br></br>
<div layout=column layout-align="center center">
    <input type="text" ng-model="rc.comment.comment">
    <md-button class="md-raised md-primary" ng-click="rc.comment.revId = review.id ; rc.postComment(rc.comment)">Post Comment</md-button>
</div>
<div id="commentContainer" ng-repeat="comment in rc.getComment.data.data">
    <p>{{comment.comment}}</p>
    <md-button>Edit</md-button>
    <md-button>Delete</md-button>
</div>
</div>