<div ng-include="'views/partials/nav.html'"></div>

<div  ng-repeat="review in rc.revToSee.data">
        <br></br>
        <h1>{{review.title}}</h1>
        <br></br>
        <h2>{{review.game}}</h2>
        <br></br>
        <h3>{{review.text}}</h3>
        <br></br>
        <ng-youtube-embed video="review.link" autoplay="false" color="white" disablekb="true" end="20">
        </ng-youtube-embed>
        <br></br>
</div>

<div>
    <input type="text" ng-model="rc.comment.comment">

    <md-button ng-click="review.id = rc.comment.revId ; rc.postComment(rc.comment)">Post Comment</md-button>
</div>
<br></br>
inside review page