<div ng-include="'views/partials/nav.html'"></div>




<div layout=column layout-align="center center">
    <input type="text" ng-model="sc.reviewer.name" placeholder='Reviewer'>
    <md-button class="md-raised md-primary" ng-click="sc.searchReviewers(sc.reviewer)">Search</md-button>
</div>
<div ng-repeat="result in sc.searchResults.data" layout=column layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="sc.user.id = result.id ; sc.thisUser()">
            <a href="#/viewProfile">{{result.username}}</a>
        </md-button>
</div>

